<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewChat</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h3>Write Your New Chat</h3>
    <form action="/chats" method="post">
        <input type="text" placeholder="Type Sender Name" name="from"> <!-- Corrected -->
        <textarea name="msg" placeholder="Write Your Message here.."></textarea>
        <input type="text" placeholder="Type Receiver Name" name="to"> <!-- Corrected -->
        <button>Send Chat</button>
    </form>
</body>
</html>
